In [2]:
import pandas as pd

data = pd.read_csv('../data/EmployeeAttrition.csv')

In [5]:
print(data.head())

   Age Attrition     BusinessTravel  DailyRate              Department  \
0   41       Yes      Travel_Rarely       1102                   Sales
1   49        No  Travel_Frequently        279  Research & Development
2   37       Yes      Travel_Rarely       1373  Research & Development
3   33        No  Travel_Frequently       1392  Research & Development
4   27        No      Travel_Rarely        591  Research & Development

   DistanceFromHome  Education EducationField  EmployeeCount  EmployeeNumber  \
0                 1          2  Life Sciences              1               1
1                 8          1  Life Sciences              1               2
2                 2          2          Other              1               4
3                 3          4  Life Sciences              1               5
4                 2          1        Medical              1               7

   ...  RelationshipSatisfaction StandardHours  StockOptionLevel  \
0  ...                         1            80                 0
1  ...                         4            80                 1
2  ...                         2            80                 0
3  ...                         3            80                 0
4  ...                         4            80                 1

   TotalWorkingYears  TrainingTimesLastYear WorkLifeBalance  YearsAtCompany  \
0                  8                      0               1               6
1                 10                      3               3              10
2                  7                      3               3               0
3                  8                      3               3               8
4                  6                      3               3               2

  YearsInCurrentRole  YearsSinceLastPromotion  YearsWithCurrManager
0                  4                        0                     5
1                  7                        1                     7
2                  0                        0                     0
3                  7                        3                     0
4                  2                        2                     2

[5 rows x 35 columns]

In [6]:
#Check the head of the DataFrame.
print(data.head())

   Age Attrition     BusinessTravel  DailyRate              Department  \
0   41       Yes      Travel_Rarely       1102                   Sales
1   49        No  Travel_Frequently        279  Research & Development
2   37       Yes      Travel_Rarely       1373  Research & Development
3   33        No  Travel_Frequently       1392  Research & Development
4   27        No      Travel_Rarely        591  Research & Development

   DistanceFromHome  Education EducationField  EmployeeCount  EmployeeNumber  \
0                 1          2  Life Sciences              1               1
1                 8          1  Life Sciences              1               2
2                 2          2          Other              1               4
3                 3          4  Life Sciences              1               5
4                 2          1        Medical              1               7

   ...  RelationshipSatisfaction StandardHours  StockOptionLevel  \
0  ...                         1            80                 0
1  ...                         4            80                 1
2  ...                         2            80                 0
3  ...                         3            80                 0
4  ...                         4            80                 1

   TotalWorkingYears  TrainingTimesLastYear WorkLifeBalance  YearsAtCompany  \
0                  8                      0               1               6
1                 10                      3               3              10
2                  7                      3               3               0
3                  8                      3               3               8
4                  6                      3               3               2

  YearsInCurrentRole  YearsSinceLastPromotion  YearsWithCurrManager
0                  4                        0                     5
1                  7                        1                     7
2                  0                        0                     0
3                  7                        3                     0
4                  2                        2                     2

[5 rows x 35 columns]

In [80]:
#Q1: Find the number of entries/rows and columns in the data.
print('Q1 :')
print(len(data))
print(len(data.columns))

#Q2: What is the average Monthly Income?
import numpy as np
print('Q2 :')
print(np.mean(data["MonthlyIncome"]))

#Q3: What is the highest amount of HourlyRate ?
print('Q3 :')
print(np.max(data["HourlyRate"]))

#Q4: What is the Department, JobRole, MaritalStatus and OverTime of EmployeeNumber 10?
print('Q4 :')
print(data[(data.EmployeeNumber==10)].filter(items=['Department','JobRole','MaritalStatus','OverTime']))

#Q5: What is the Employee ID of highest MonthlyIncome paid employee?
print('Q5 :')
print(data.iloc[[data['MonthlyIncome'].idxmax()]].EmployeeNumber)

#Q6: What is the average(mean) DailyRate group by Age for all Employees whose age is greater than 58. (hint: use groupby function)
print('Q6 :')
print(data[(data.Age>58)].groupby('Age').agg({'DailyRate':'mean'}))

#Q7: How many unique EducationField are there?
print('Q7 :')
print(len(data.EducationField.unique()))

#Q8: What are the top 5 most common JobRole?
print('Q8 :')
print(data['JobRole'].value_counts().index.tolist()[:5])

#Q9: How many JobRoles represented by less than 100 employees?
print('Q9 :')
print(len(data['JobRole'].value_counts()[data['JobRole'].value_counts()<100].index))

#Q10: What is the correlation between Education and JobSatisfaction?
print('Q10 :')
print(np.corrcoef(data['Education'], data['JobSatisfaction'])[0,1])

Q1 :
1470
35
Q2 :
6502.931292517007
Q3 :
100
Q4 :
               Department                JobRole MaritalStatus OverTime
6  Research & Development  Laboratory Technician       Married      Yes
Q5 :
190    259
Name: EmployeeNumber, dtype: int64
Q6 :
     DailyRate
Age
59       992.3
60       833.2
Q7 :
6
Q8 :
['Sales Executive', 'Research Scientist', 'Laboratory Technician', 'Manufacturing Director', 'Healthcare Representative']
Q9 :
3
Q10 :
-0.011296116736573911